/* ----------------전체 기본 설정-------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* 완성 시 삭제 */
}

a {
  color: black;
  text-decoration: none; /* 하이퍼링크 밑줄 제거 */
}

ul {
  list-style: none; /* 목록의 스타일(앞에 붙는 점) 제거 */
}

body {
  display: flex;
  flex-direction: column;

  /* 최소 화면(기기, 브라우저)의 크기 
        화면 크기가 작아져도 유지해야 할 최소 크기*/
  min-width: 768px;
  min-height: 100vh; /* 화면 높이 100% */
}

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GimpoGothicRegular00";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimpoGothicRegular00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ----------------------header---------------------- */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  height: 130px;
  width: 100%;
}

.header-bar {
  height: 40%;
  background-color: black;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-bar .bar-manu {
  height: 60%;
  font-size: 0.65rem;
  color: white;
}
.header-bar .bar-manu > img {
  height: 100%;
}
.bar-manu:hover {
  text-decoration: underline;
}

.header-bar2 {
  padding: 0px 10%;
  width: 100%;
  height: 60%;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.header-bar2 > .logo > img {
  width: 80%;
  margin: 10px 5px;
}

.search {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.search > input {
  font-family: "GimpoGothicRegular00";
  font-size: 14px;
  margin-left: 15px;
  border-radius: 8px;
  padding: 10px 12px;
  width: 100%;
}

.search > input:hover {
  background-color: #e0e0e0;
}

.search > img {
  position: absolute;
  width: 30px;
  margin-right: 12px;
  margin-top: 2px;
}

.login {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.login > a:hover {
  background-color: #e0e0e0;
}

.login > a {
  width: 160px;
  margin: 10px 0px;
  padding: 5px 20px;
  font-family: "GimpoGothicRegular00";
  font-size: 0.8em;
  border-radius: 8px;
}

.heart {
  display: flex;
  align-items: center;
  margin: 5px;
}
.heart img:hover {
  background-color: #e0e0e0;
}

.heart > img {
  width: 30px;
}

.cart {
  display: flex;
  align-items: center;
  margin: 5px;
}
.cart > img:hover {
  background-color: #e0e0e0;
}
.cart > img {
  width: 30px;
}

/* --------------------navbar------------------ */
nav{
  display: flex;
  background-color: white;
  position: sticky;
  top: -1px;
  z-index: 1000;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}
.navbar {
  height: 50px;
  padding: 0px 10%;
  display: flex;
  align-items: center;
  background-color: white;
  position: sticky;
  top: -1px;
  z-index: 1000;

}

.navbar a {
  margin: 0px 8px;
  font-family: "GimpoGothicRegular00";
}

.navbar a:hover {
  text-decoration: underline;
}

/* ---------------------------main-content1--------------------------- */
main {
  display: flex;
  justify-content: center;
  flex-grow:1;
  flex-direction: column;
  align-items: center;
}

.main1{
  width: 1300px;
}

.main2{
  width: 1300px;
}

.main3{
  width: 1300px;

  display: flex;
  justify-content: space-between;
}
main h1{
  margin: 20px 0px 0px 0px;
  font-family: "GimpoGothicRegular00";
  font-size: 30px;
}
.main-content1 {
  min-width: 800px;
  display: flex;
  flex-direction: column;
}

.main-row1 {
  margin: auto;
  padding:2px;
  display: flex;
  justify-content:space-evenly ;
}
.main-col {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly ;
  flex-wrap: wrap;
}
.main-col a{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-img{
  object-fit: cover;
  padding: 2px;
  max-width:300px;
}

.btn-img1{
  max-width: 700px;
}
.btn-img4{
  max-width: 300px;
  height:400px;
}

.main-col a:hover .btn-img{
  transform: scale(1.02);
  transition-duration: 0.25s;
}


.main-content2 {
  margin-top: 100px;
  max-width: 1300px;
  flex-direction: column;
}

.main2{
  background-color: #f8f8f8;

}

.scroll{
  max-width: 1300px;
  overflow-x:auto ;
  white-space: nowrap;
}

.scroll-item{
  display: inline-block;
  background-color: #fff;
}

.scroll-item{
  max-width: 200px;
}
.s-img{
  max-width:100% ;
  height:250px ;
}

.main-content3 {
  margin-top: 100px;
  flex-direction: column;
}
.img-text{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

}
.img-text a{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  min-width: 200px;
}

.img-text a:hover{
  background-color: #CA5008;
}

.img-text p{
  padding: 3px;
  font-family: "GimpoGothicRegular00";
  font-size: 20px;
  width: 100%;
  height: 350px;
  white-space: pre-line;
  background-color: #fff7c9d2;
}

.i-img{
  width: 100%;
  height: 300px;
}




/* -----------------------footer---------------------- */

hr {
  color: #d8d8d8;
}
footer {
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-content1 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-content1 h3 {
  font-family: "GimpoGothicRegular00";
}
.footer-content1 p {
  font-family: "GimpoGothicRegular00";
  font-size: 14px;
  white-space: pre-line;
}
.footer-content1 a {
  font-family: "GimpoGothicRegular00";
}
.footer-content1 a:hover {
  text-decoration: underline;
}

.footer-content1 button {
  font-family: "GimpoGothicRegular00";
  background-color: black;
  color: white;
}

.footer-content2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "GimpoGothicRegular00";
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.f-content2-list .list_text {
  font-weight: bold;
}

.list-item {
  color: #424242;
  font-size: 13px;
}

.list-item:hover {
  text-decoration: underline;
}





@media screen and (max-width:1500px){
  /* 화면 너비가 0~1500px 사이일 때 적용할 CSS코드 작성 */

  /* 1500px 이하일 때 사이드 메뉴가 보이지 않게 함 */
  aside{
  display:none;
      }
}

@media screen and (max-width:1300px){
   /* 화면 너비가 0~1024px 사이일 때 적용할 CSS코드 작성 */

   .main1{width: auto;}
   .main1 *{
    width: 70%;
   }

   .main2{width: auto;}
   .main2 *{
    width: 70% !important;
   }

   .main3{ width: auto; }
   
   .main3 a *{
    width: 70% !important;
   }

  }

@media screen and (max-width:800px){
  /* 화면 너비가 0~800px 사이일 때 적용할 CSS코드 작성 */

  .main1{width: auto;}
  .main1 *{
    width: 50%;
   }
   
  .main2{width: auto;}
   .main2 *{
    width: 50%;
   }

   
  .main3{width: auto;}
   .main3 *{
    width: 50%;
   }


}
